# Mac OS 
.DS_Store

# Meshes
*.vtk
*.vtu

# CAD 
*.step
*.stp

# Python
.pyc
.ipynb_checkpoints

# Data files
data
*.npz

# Moldflow
*.sdy
*.CIP 
*.die 
*.err
*.fpo
*.of1
*.of2
*.oo1
*.out
*.rfn
*.mpi
*.lck
*.lci
*.lsp
*.pat
*.log
*.xml